@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Playfair Display", serif;
}
body {
  background-color: rgb(214, 222, 230);
}
header {
  display: flex;
  justify-content: center;
  padding: 6rem 0 6rem 0;
  .aboutMe--card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: 8rem;
    margin-block: 2rem;
    height: auto;
    background-color: rgb(231, 231, 231);
    max-width: 1200px;
    padding: 1rem;
  }
  .card--right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .card--h1 {
      font-size: 2.25rem;
    }
    .card--paragraph {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-weight: 300;
      font-size: 1.2em;
    }
    .card--links {
      display: flex;
      gap: 1rem;
      margin-left: auto;
    }
  }
  .card--left {
    position: relative;
    .profile-picture {
      width: 12vw;
      max-width: 250px;
      transform: scale(1.5);
      transform-origin: right;
      height: auto;
      aspect-ratio: 4/5;
      object-fit: cover;
    }
    .profile-name {
      display: inline;
      position: absolute;
      bottom: 0;
      transform: scale(2.4) translateY(0.5rem) translateX(0.25rem);
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      transform-origin: top;
      color: white;
      font-size: 1vw;
      font-style: italic;
      font-weight: 100;
      z-index: 1;
    }
  }
}
main {
  .projects {
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 90%;
    margin: auto;
  }
  .projects--heading {
    font-size: 3rem;
    text-indent: 10rem;
  }
  .projects-box {
    display: grid;
    grid-template: auto/repeat(auto-fill, 500px);
    width: auto;
    gap: 2rem;
    place-content: center;
  }
  .project--card {
    .pcard--screenshot {
      width: 100%;
      height: auto;
    }
    .pcard--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pcard-projectLinks {
        display: flex;
        gap: 1rem;
      }
    }
    .pcard-projectDesc {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-weight: 100;
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  padding: 8rem 0 2rem 0;
  place-content: center;
  font-size: 1.2rem;
  gap: 5rem;
  width: 80%;
  margin: auto;
  .footer--left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .footer--icons {
      display: flex;
      gap: 1rem;
    }
  }
  .profile-picture {
    width: 20vw;
    min-width: 600px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 0px -150px;
  }
  .footer--address {
    display: flex;
    flex-direction: column;
  }
}

/* *helper  */
.icon {
  width: 18px;
  height: auto;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.2);
}
.pcard--screenshot {
  width: fit-content;
}
@media screen and (max-width: 1440px) {
  main {
    .projects {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      margin: auto;
    }
    .projects-box {
      display: grid;
      grid-template: auto/1fr 1fr;
      margin-inline: 3rem;
      width: auto;
      gap: 2rem;
      place-content: center;
    }
  }
}
@media screen and (max-width: 767px) {
  body {
  }
  main {
    .projects {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      margin: auto;
    }
    .projects-box {
      display: grid;
      grid-template: auto/1fr;
      margin-inline: 3rem;
      width: auto;
      gap: 2rem;
      place-content: center;
    }
  }
  footer {
    position: relative;
    flex-direction: column;
    width: 100%;
    .profile-picture {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 0px -150px;
    }
  }
}
