@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}
html {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
}
body {
  background-color: rgb(214, 222, 230);
  max-width: 2560px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  padding: 6rem 0 6rem 0;
  .aboutMe--card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-inline: 8rem;
    margin-block: 2rem;
    height: auto;
    background-color: rgb(231, 231, 231);
    max-width: 1200px;
    padding: 1rem;
  }
  .card--right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .card--h1 {
      font-size: 2.25rem;
    }
    .card--paragraph {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-weight: 300;
      font-size: 1.2em;
    }
    .card--links {
      display: flex;
      gap: 1rem;
      margin-left: auto;
    }
  }
  .card--left {
    position: relative;
    .profile-picture {
      width: 12vw;
      max-width: 250px;
      transform: scale(1.5);
      transform-origin: right;
      height: auto;
      aspect-ratio: 4/5;
      object-fit: cover;
    }
    .profile-name {
      display: inline;
      position: absolute;
      bottom: 0;
      transform: scale(2.4) translateY(0.5rem) translateX(0.25rem);
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      transform-origin: top;
      color: white;
      font-size: 1vw;
      font-style: italic;
      font-weight: 100;
      z-index: 1;
    }
  }
}
main {
  .projects {
    display: flex;
    flex-direction: column;
    place-content: center;
    width: 90%;
    margin: auto;
  }
  .projects--heading {
    font-size: 3rem;
    text-indent: 10rem;
  }
  .projects-box {
    display: grid;
    grid-template: auto/repeat(auto-fill, 600px);
    width: auto;
    gap: 2rem;
    place-content: center;
  }
  .project--card {
    .pcard--screenshot {
      width: 100%;
      height: auto;
    }
    .pcard--heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .pcard-projectLinks {
        display: flex;
        gap: 1rem;
      }
    }
    .pcard-projectDesc {
      font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
      font-weight: 100;
    }
  }
}
footer {
  display: flex;
  flex-direction: row;
  padding: 8rem 0 2rem 0;
  place-content: center;
  font-size: 1.2rem;
  gap: 5rem;
  width: 80%;
  margin: auto;
  .footer--left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .footer--icons {
      display: flex;
      gap: 1rem;
    }
  }
  .profile-picture {
    width: 20vw;
    min-width: 600px;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 0px -150px;
  }
  .footer--address {
    display: flex;
    flex-direction: column;
  }
}

/* *helper  */
.icon {
  width: 24px;
  margin-block: 0.25rem;
  height: auto;
  cursor: pointer;
  will-change: transform;
  transition: transform 0.2s ease;
}
.icon:hover {
  transform: scale(1.2);
}
.pcard--screenshot {
  width: fit-content;
}
@media screen and (max-width: 1440px) {
  header {
    .aboutMe--card {
      display: flex;
    }
    .card--left {
      float: left;
      align-items: top;
      justify-content: top;
      position: relative;
      .profile-picture {
        position: relative;
        width: 250px;
        max-width: none;
        transform-origin: bottom right;
        transform: scale(1.3);
      }
      .profile-name {
        float: left;
        display: inline;
        position: absolute;
        top: 0;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        transform: scale(3) translate(5rem, -30px);
        transform-origin: top;
        color: white;
        font-size: 1rem;
      }
      .card--paragraph,
      .card--h1 {
        float: left;
      }
    }
    .card--right {
      width: auto;
      display: inline-flex;
      float: left;
    }
  }

  main {
    .projects {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      margin: auto;
    }
    .projects-box {
      display: grid;
      grid-template: auto/1fr 1fr;
      margin-inline: 3rem;
      width: auto;
      gap: 2rem;
      place-content: center;
    }
  }
  .icon {
    width: 26px;
  }
  footer {
    .profile-picture {
      margin: auto 0;
      min-width: 300px;
      aspect-ratio: 10/16;
      object-position: 0px 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  body {
  }
  header {
    padding-top: 2rem;

    .aboutMe--card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-inline: 2rem;
      margin-bottom: 2rem;
      margin-top: 0rem;
      height: auto;
      background-color: rgb(231, 231, 231);
      padding: 1rem;
    }
    .card--right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      .card--h1 {
        font-size: 2.25rem;
      }
      .card--links {
        display: flex;
        gap: 1rem;
        align-self: center;
        margin: 0 auto;
      }
    }
    .card--left {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0rem;
      margin-inline: auto;
      position: relative;
      padding-top: 0.5rem;

      .profile-picture {
        min-width: 80vw;
        transform-origin: bottom;
        height: auto;
        transform: none;
        aspect-ratio: 4/5;
        object-fit: cover;
      }
      .profile-name {
        display: inline;
        position: absolute;
        bottom: 0;
        transform: translateY(-1.5rem);
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
        transform-origin: top;
        color: white;
        font-size: 15vw;
        line-height: 15vw;
      }
    }
  }

  main {
    .projects {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      margin: auto;
    }
    .projects--heading {
      font-size: 3rem;
      text-indent: 0;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .projects-box {
      display: grid;
      grid-template: auto/1fr;
      margin-inline: 3rem;
      width: auto;
      gap: 2rem;
      place-content: center;
    }
  }
  footer {
    position: relative;
    flex-direction: column;
    padding-bottom: 0;
    width: 100%;
    .footer--left {
      padding: 0 2rem 0 2rem;
      gap: 1rem;
    }

    .profile-picture {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: 0px 0px;
    }
  }
  .icon {
    width: 28px;
  }
}
